.container{
  display: flex;
  flex-flow: row wrap;
}

img{

  width: 500px;
  height: 350px;
}
.item{
  padding:10px;
  text-align: center;
  max-width: 500px;
  border-right: 5px solid black;
}
.title{
  text-align: center;
}

#before{
  background-color: darkred;
}

#during{
  background-color: darkblue;
}

#after{
  background-color: papayawhip;
}
